*
  box-sizing: border-box
body
  +reg

img
  max-width: 100%

.container
  width: 1170px
  margin: auto

// Кнопка
.button
  font-size: 13px
  border-radius: 10px
  background-color: $main-color
  border: none
  padding: 18px 30px
  outline: none
  cursor: pointer
  &:hover
    background-color: lighten($main-color, 10%)

.section
  padding: 90px 0
  &-title
    font-size: 24px
    +bold
    text-align: center
  &-subtitle
    display: block
    font-size: 16px
.input
  border: 1px solid $border-input
  padding: 20px 28px
  font-size: 15px
  border-radius: 10px
  &:focus
    border-color: orange
    transition: 1s
  &-group
    position: relative

//Ошибки для мождального окна
em.modal-error
  color: red
  position: absolute
  top: -17px
  left: 5px
  border: 0
.modal-error
  border: 1px solid red
  &:focus
    border-color: red
//Ошибки для блока с предложением
em.errored
  color: red
  position: absolute
  top: 59px
  left: 5px
  border: 0
.errored
  border: 1px solid red
  &:focus
    border-color: red
@media ( max-width: 768px)
  em.errored
    top: 45px
    font-size: 14px
//Ошибки для блока с опросом
em.invalid
  color: red
  position: absolute
  top: -18px
  left: 5px
  border: 0
.invalid
  border: 1px solid red
  &:focus
    border-color: red
@media ( max-width: 992px)
  em.invalid
    left: 140px
@media ( max-width: 768px)
  em.invalid
    font-size: 13px
    left: 10px
    top: 45px





@media ( max-width: 1200px)
  .container
    max-width: 780px
@media ( max-width: 992px )
  .container
    max-width: 660px
@media ( max-width: 768px)
  .section
    padding: 40px 0
  .container
    max-width: 310px
@media ( max-width: 320px )
  .container
    max-width: 275px