.navbar
  padding: 8px 0
  &-block
    display: flex
    justify-content: space-between
    align-items: center
  &__info
    align-items: center
    display: flex
    text-align: right
  &__address
    font-size: 13px
    display: flex
    flex-direction: column
  &__button
    margin-left: 30px
    cursor: pointer
  &__phone
    font-weight: 900
    display: inline-block
    color: $text-color
    font-size: 20px
    font-weight: 400
    text-decoration: none
    margin-top: 5px
@media ( max-width: 768px )
  .navbar
    &__contacts
      display: none
    &__button
      font-style: 12px
      padding: 15px 26px
    &__logo
      width: 90px
@media ( max-width: 320px )
  .navbar
    &-block
      padding-top: 10px
    &__button
      font-size: 10px
      padding: 15px 25px
button, button:active, button:focus 
    outline: none