.offer
  background: url('../img/offer/offer-img.png') no-repeat
  background-position: center right
  background-size: contain
  position: relative
  &::before
    content: ''
    width: 50%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-color: #fff
  &-block
    width: 50%
    padding-right: 90px
    position: relative
  &__title
    margin-top: -15px
    max-width: 360px
    line-height: 35px
    margin-bottom: 20px
  &__subtitle
    max-width: 250px
    margin-bottom: 35px
  &__input
    outline: none
    margin-bottom: 30px
    width: 240px
    &:first-child
      margin-right: 10px
    &:focus
      border-color: orange
      transition: 1.3s
  &__button
    +bold
    width: 100%
    min-height: 70px
    font-size: 16px
    margin-bottom: 28px
  &-call
    font-size: 15px
    width: 100%
    display: flex
    line-height: 24px
    margin-right: 0
    &__col
      & a
        color: #000
        text-decoration: none
        +bold
      &:first-child
        margin-right: 70px













@media ( max-width: 1200px)
  .offer
    background-size: cover
    &__input
      margin-bottom: 10px
    &__button
      width: 100%
      font-size: 13px
    &-call
      &__col
        width: 250px
        &:first-child
          margin-right: 45px
    &-block
      width: 58%
@media ( max-width: 768px)
  .offer
    background: #fff
    &-block
      width: 100%
      padding-right: 0
  .input
    width: 100%
    padding-top: 24px
    padding-bottom: 24px
    padding-right: 0px
    padding-left: 20px
    margin-bottom: 8px
    &:first-child
      margin-bottom: 10px


@media ( max-width: 320px)
  .offer
    &__title
      max-width: 95%
      margin-top: 0 
      line-height: 22px
      margin-bottom: 16px
    &-text
      margin-top: 20px
    &__subtitle
      max-width: 100%
      font-size: 14px
      margin-bottom: 25px
    &__input
      margin-bottom: 12px
    &__button
      margin-bottom: 21px
      height: 20px
      width: 100%
      display: flex
      justify-content: center
      +bold
    &__width
      line-height: 18px
      font-size: 14px
      width: 80%
    &-call
      display: block
      &__col
        &:first-child
          width: 230px
          margin-bottom: 5px
        &:last-child
          width: 200px

  .section
    padding-top: 50px
    &-title
      font-size: 18px
      font-weight: 400
    &-subtitle
  .input
    width: 100%
    padding-top: 24px
    padding-bottom: 24px
    padding-right: 0px
    padding-left: 20px
    margin-bottom: 8px
    &:first-child
      margin-bottom: 10px